.app {
  width: 500px;
  margin: 1em auto;
  text-align: center;
}
.app img {
  max-width: 150px;
}
.Title
{
  padding: 10px;
  text-align: center;
  font-size: 28px;
  font-family: "Comic sans MS";
}
.Header{
  margin: 20px;
  border: 1px solid black;
  padding: 15px;
  background: url(https://images.pexels.com/photos/53483/strawberries-crepe-dessert-sweet-53483.jpeg?auto=compress&cs=tinysrgb&h=650&w=940) center/cover;
}
.Main{
  margin: 20px;
  border: 1px solid black;
  padding: 15px;
}
.MainEtape{
  margin: 20px;
  border: 1px solid black;
  padding: 15px;
}
